h1, h2, h3{
	font-family: "Crete Round", serif;
	font-weight: 800;
	font-style: normal;
}
body{
	font-family: tenso, sans-serif;
	font-weight: 400;
	font-style: normal;
	background: #eeeeee;
}
#introduction-jumbo{
	width: 100%;
	margin-top: 75px;
}
#myBackgroundPicture{
	position: fixed;
	max-width: 40%;
	height: auto;
	bottom: 0;
	right: 0;
}
.footer{
	height: 350px;
	padding-bottom: 0;
	margin-bottom: 0;
}
a:hover{
	text-decoration: none;
}
.contact-info{
	font-size: 16px;
	font-weight: 400;
}
.contact-info .detail{
	font-size: 16px;
	font-weight: 400;
	font-family: tenso, sans-serif;
}